<div class="form-group" :class="{'has-helper': helper, 'row': inline}">
    <div :class="{'col-sm-4': inline}">
        <label v-if="label" :class="{'col-form-label': inline }">{{ label }}<span class="required" v-if="required">*</span></label>
        <small class="form-text text-muted" v-if="helper && inline && metaUnderLabel" v-text="helper"></small>
        <div class="invalid-feedback d-block" v-text="errorMessage" v-if="invalid && inline && metaUnderLabel"></div>
    </div>
    <div :class="{'col-sm-8': inline, 'input-group': usingAddons, 'input-group-lg': usingAddons && large, 'input-group-sm': usingAddons && small}">
        <span v-if="slotExists('leftAddon')" class="input-group-addon">
            <slot name="leftAddon"></slot>
        </span>
        <span v-if="slotExists('leftButton')" class="input-group-btn">
            <slot name="leftButton"></slot>
        </span>
        <select :name="name" :required="required" :disabled="disabled" :class="inputClasses" v-on:change="updateValue($event.target.value)" :value="value">
            <option v-if="placeholder" v-text="placeholder" disabled selected></option>
            <option v-for="option in options" :value="option[keyName]">{{ option[labelName] }}</option>
        </select>
        <span v-if="slotExists('rightAddon')" class="input-group-addon">
            <slot name="rightAddon"></slot>
        </span>
        <span v-if="slotExists('rightButton')" class="input-group-btn">
            <slot name="rightButton"></slot>
        </span>
        <small class="form-text text-muted" v-if="helper && ! usingAddons && ! metaUnderLabel" v-text="helper"></small>
        <div class="invalid-feedback" v-text="errorMessage" v-if="invalid && ! usingAddons && ! metaUnderLabel"></div>
    </div>
</div>
