<div class="form-group" :class="{'has-helper': helper, 'row': inline}">
    <div :class="{'col-sm-4': inline}">
        <label v-if="label" :class="{'col-form-label': inline }">{{ label }}<span class="required" v-if="required">*</span></label>
        <small class="form-text text-muted" v-if="helper && inline && metaUnderLabel" v-text="helper"></small>
        <div class="invalid-feedback d-block" v-text="errorMessage" v-if="invalid && inline && metaUnderLabel"></div>
    </div>
    <div :class="{'col-sm-8': inline}">
        <label class="switch-component">
            <input type="checkbox" :name="name" :checked="checked" v-on:change="updateValue($event.target.checked)">
            <div class="slider round">
                <span class="yes-label" v-if="labels">Yes</span>
                <span class="no-label" v-if="labels">No</span>
            </div>
        </label>
        <small class="form-text text-muted" v-if="helper && ! metaUnderLabel" v-text="helper"></small>
        <div class="invalid-feedback" v-text="errorMessage" v-if="invalid && ! metaUnderLabel"></div>
    </div>
</div>
